* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: black;
  --link-color: #2563eb;
  --background-color: white;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

body {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: var(--background-color);
  padding: 8px;
}

.header-content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
  gap: 8px;
}

.logo-icon {
  height: 2.5rem;
  width: 1.5rem;
}

.nav {
  display: none;
  gap: 1.5rem;
}

@media (min-width: 850px) {
  .nav {
    display: flex;
  }
}

.nav-link {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 400;
  transform: color 0.1s;
}

.nav-link:hover {
  color: var(--link-color);
}

.contact-button {
  display: none;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 8px;
  /*padding:- top-bottom and left-right */
  font-size: 20px;
}

.contact-button:hover {
  background-color: rgba(106, 106, 197, 0.847);
}

@media (min-width: 850px) {
  .contact-button {
    display: block;
  }
}

.menu-button {
  border: none;
  display: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--background-color);
  padding: 1rem 1rem;
}

.menu-icon {
  width: 1.7rem;
  height: 1.7rem;
}

@media (min-width: 0px) and (max-width: 849px) {
  .menu-button {
    display: block;
  }
}

/* ---------main section--------------------------------------------------- */
.main-section {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6px;
  margin: 0 auto;
  align-items: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  animation: slideFromLeft 1s ease forwards;
  opacity: 0;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translate(-100%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.start {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}

.hed {
  font-size: 2.3rem;
  /* padding: 1rem; */
}

.para {
  font-size: 20px;
  color: var(--gray);
}

.buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

#tap1 {
  border: none;
  background-color: var(--link-color);
  color: var(--background-color);
  padding: 10px 15px;
  border-radius: 10px;
}

#tap2 {
  border: none;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px 15px;
  border-radius: 10px;
}

#tap1:hover {
  background-color: var(--primary-color);
}

#tap2:hover {
  background-color: var(--gray);
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(54, 46, 46, 0.1);
  height: 50vh;
}

.section-image {
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  .main-section {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
  }

  .content-left {
    max-width: 50%;
    text-align: left;
  }

  .buttons {
    justify-content: start;
  }

  .hed {
    font-size: 3.8rem;
    width: 90%;
  }

  .image-container {
    height: 65vh;
  }

  .para {
    width: 85%;
  }
}

/*--------------------- compnay-container-------------------- */

.company-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  animation: slideFromLeft 1s ease forwards;
  opacity: 0;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translate(-100%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
  background-color: var(--light-gray);
  border-radius: 15px;
  margin-bottom: 5rem;
}

.company-logo {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  gap: 0.5rem;
  color: var(--gray);
}

.svg-img {
  width: 1.5rem;
  height: 1.2rem;
}

@media (min-width: 700px) {
  .company-grid {
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
      flex-direction: row; */
  }

  .company-title {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

/*----------------- card -section-------------------- */

.feature-card {
  background-color: var(--light-gray);
  width: 100%;
  padding-top: 1rem;
  margin-top: -2rem;
  padding-bottom: 1.5rem;
}
.card-section {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card-head {
  font-size: 2rem;
  font-weight: 600;
  align-items: center;
}

.card-para {
  width: 60%;
  color: var(--gray);
}

.card-group {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 650px) {
  .card-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.card1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--accent-color);
  gap: 1rem;
  padding: 2rem 1.4rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 20px;
  height: 20px;
  background-color: var(--background-color);
  padding: 0.4rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}
.c1 {
  background-color: var(--accent-color);
}
.c2 {
  background-color: rgb(222, 74, 175);
}
.c3 {
  background-color: rgb(235, 235, 8);
}
.c4 {
  background-color: rgb(72, 195, 158);
}
.c5 {
  background-color: green;
}
.c6 {
  background-color: blueviolet;
}

/* about-content------------------------ */

.testomonial {
  max-width: 1280px;
  /* padding-top: 1rem; */
  background-color: var(--background-color);
  padding: 2rem;
  margin: 0 auto;
}

.about-content {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.t-title {
  font-size: 1.9rem;
  font-weight: bold;
}

.information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media (max-width: 1100px) {
  .information {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}

.cardes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 180px;
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 0px 8px;
  transition: transfrom 0.3s ease;
}

.cardes:hover {
  transform: scale(1.1);
  box-shadow: 0, 4px 8px rgba(0, 0, 0, 0, 2);
  border: 2px solid rgba(104, 104, 215, 0.292);
}

.imgs {
  width: 3rem;
  height: 3rem;
}
.about-para {
  font-size: 1rem;
  font-weight: 600;
  color: grey;
}

/* -------------newslater about------------------ */

.news-later {
  background-color: var(--background-color);
  max-width: 1280px;
  height: 40vh;
  padding: 2rem;
  margin: 0 auto;
}

.aboutTwo {
  display: flex;
  flex-direction: row;
  width: 93%;
  height: 100%;
  /* background-color: var(--light-gray); */
  justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.left-about {
  display: none;
  width: 50%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
}

.left-about img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.right-about {
  padding: 1rem;
  background-color: var(--light-gray);
  width: 50%;
  height: 100%;
  padding-top: 1.4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start;
  justify-content: center;
  padding-left: 4rem;
  border-radius: 10px;
}

.news-heading {
  font-size: 2rem;
  color: var(--accent-color);
  font-weight: bold;
  justify-content: start;
}
.news-para {
  text-align: left;
}

.news-box {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.but {
  padding: 0.2rem;
  color: white;
  background-color: #2563eb;
  border: 1px solid black;
  border-radius: 3px;
}

.but:hover {
  background-color: var(--dark-gray);
}

.privacy-policy {
  font-size: 0.8rem;
  /* margin-left: -5px; */
}

@media (min-width: 800px) {
  .aboutTwo {
    background-color: var(--light-gray);
  }
  .left-about {
    display: block;
  }
  /* .right-about{
      height: 100%;
    } */
}

@media (max-width: 750px) {
  .aboutTwo {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    background-color: var(--light-gray);
  }
  .right-about {
    width: 100%;
    height: 100%;
  }
  .news-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .news-heading {
    font-size: 20px;
  }
  .privacy-policy {
    text-align: left;
  }
}

/* --------footer -section ------------------ */

.footer-section {
  margin-top: 5rem;
  max-width: 1280px;
  background-color: var(--background-color);
  gap: 3rem;
  margin: 0 auto;
}

.footer-top {
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(105, 93, 93, 0.489);
}

.footer-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
.logo-footer {
  width: 1.3rem;
  height: 1.3rem;
}
.para {
  color: var(--gray);
  text-align: left;
}

.footer-logo {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
}

.footer-logo img {
  height: 1.3rem;
  width: 1.3rem;
}

.right-footer {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-content: space-between;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--gray);
}
.footer-down {
  padding-bottom: 2rem;
}

@media (min-width: 601px) and (max-width: 840px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  .footer-left {
    padding-left: 6rem;
    padding-top: 2rem;
  }
  .right-footer {
    align-self: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .footer-left {
    padding-left: 2rem;
  }

  .right-footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-logo img {
    height: 1rem;
    width: 1rem;
  }
}
